# Extensions
*~
*.aps
*.bak
*.cache
*.dbmdl
*.exe
*_i.c
*.ilk
*.lib
*.log
*.ncb
*.obj
*.orig
*_p.c
*.pch
*.pdb
*.sbr
*.suo
*.tlb
*.tlh
*.user
*.userprefs
*.vsp
*.vspscc

# Specific files
!Api.Log
core.sln.docstates
localconfig.build
localconfigset.xml
LocalTestRun.testrunconfig
test.aspx
test.aspx.cs
test.aspx.designer.cs
Thumbs.db
[Tt]est[Rr]esult*

# Directories
[Bb]in/
[Dd]ebug*/
dist/
Documentation/
obj/
PublicApplications/locale/
_ReSharper*/
[Rr]elease*/
staticcontent/global/js/locale/
tmp/
*.jfm
